
.wall-foot {
    margin: 0;    
    background-image: url(/assets/img/foot/wall_foot.jpg);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    font-weight: 500;
    color: #ffffff;
    font-size: 1rem;
    padding: 17px;
}

.fut {
    display: flex;
    justify-content: center;    
}

