
.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000000;
  }

.logo {
  color: #FF6008;
  font-size: 22px;
  font-weight: 500;
}
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0;
  }
  
  .list-style-none {
    list-style: none;
  }

  .link li a:link {
    color: #DDDDDD;
  }

  .link li a:visited {
    color: #DDDDDD;
  }

  .link li a:hover {
    color: #FF6008;
  }

  .navbar a {
    text-decoration: none;
    display: flex;
    line-height: 18px;
    font-weight: 500;
  }
  
  .navbar__links {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.75em;
    align-items: center;
  }
  
  #menu-mobile,
  #menu-open,
  #menu-close {
  display: none;
}

@media only screen and (max-width: 430px) {
  /* agregar clases exclusivas para viewports de 400x de screen */

  .navbar,
  #menu-open,
  #menu-close {
    display: block;
  }

  .navbar__links {
    flex-direction: column;
    margin: 0;
    padding: .5rem 0;
  }
  
  li {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .expandable {
    display: none;
  }

  /* ~ => Selector de hermanos generales */
  #menu-mobile:checked ~ .expandable {
    display: flex;
  }

  .navbar__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  #menu-open,
  #menu-close {
    position: absolute;
    top: .5rem;
    right: .75rem;
    color: var(--secondary-darker);
    transition: opacity 0.2s linear;
  }

  #menu-mobile:not(:checked) ~ * #menu-close,
  #menu-mobile:checked ~ * #menu-open {
    opacity: 0;    
  }
}

