@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");
@import url(reset.css);
@import url(typography.css);
@import url(layout.css);
@import url(header.css);
@import url(footer.css);





/* * {border: 1px solid red;} */


body {
    margin: 0;
    padding: 0;
    background-image: url(/assets/img/Wall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: justify;
}