
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  --font-primary: 'Poppins', 'Segoe UI', Tahoma, sans-serif;
}

body {
  font-size: 16px;
  font-weight: 350;
  line-height: 27px;
  font-family: var(--font-primary);
  color: #bebebe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

.title {
  max-width:max-content;
  margin: 0 auto;
  display: flex;
  margin-bottom: 2.5rem;
  font-size: 23px;
  font-weight: 600;
  color: #F7F7F7;
}

.sub {
  font-size: 20px;
  font-weight: 500;
  color: #FF803C;
  margin-bottom: 1rem;
  margin-top: 8px;
  text-align: left;
}

.subin {
  font-size: 20px;
  font-weight: 500;
  color: #9ACD32;
  margin-bottom: 1rem;
  margin-top: 8px;
  text-align: left;
  text-indent: 24px;
}

h2 {
  font-weight: 500;
  color: #ffffff;
  font-size: 19px;
  text-indent: 24px;
  padding-top: 8px;
}

h3 {
  font-weight: 500;
  color: #ffffff;
  font-size: 19px;
  text-indent: 40px;
  padding-top: 8px;
}
