
.manito:hover {
    cursor: pointer;
}

.chr {
    padding: 25px 0;
    display: block;
    margin: auto;
}

p {
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-indent: 24px;
}

ol {    
    margin-top: 0;
    padding-bottom: 16px;
    line-height: 24px;
}

.vid {
    margin: 0 auto;
    width: 70%;
    padding-top: 2rem;
}

.vid iframe {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 15px;
}

@media (max-width: 660px) {
    .vid {
        width: 100%;
    }
    .vid iframe {
        border-radius: 15px;
    }
}


a {text-decoration: none;}

a:link, :visited {
    color: #FF803C;
}

a:hover {
    color:#ffffff;
}

.ptb16 {
    padding: 1rem 0 1.3rem 0;
}

.dg {
    display:grid;
}

.pb16 {
    padding-bottom: 1rem;
}


